* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 400;
}

/* Inicio navigation-bar */

.header {
    background-color: #fff;
    color: #000;
}

#navbarNavDropdown {
    background-color: #fff;
    color: #000;
}

.header .navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.header .navbar-toggler:focus {
    box-shadow: none;
    outline: none;
}

.header .reserva-button {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    position: absolute;
    left: 90%;
    padding: 6px 18px;
    border-radius: 30px;
    transition: .2s background-color;
}

.header .reserva-button:hover {
    text-decoration: none;
    background-color: #009970;
    border: none;
    color: #fff;
    padding: 6px 18px;
    border-radius: 30px;
}

.header .navbar-brand {
    font-weight: 600;
    padding-left: 30px;
}

.header .navbar-brand:hover {
    color: #009970;
    transition: .2s ease;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

.nav-link {
    color: #666777;
    position: relative;
    font-weight: 500;
}

/* Fim da nav bar */


/* Inicio hero-section */

.hero-section {
    margin-top: 150px;
}

.hero-section h1 {
    font-weight: 600;
    color: #252525;
}

.hero-section .separador {
    width: 200px;
    color: #009970;
}

.hero-section h2 {
    font-weight: 600;
    color: #252525;
    margin-bottom: 40px;
    font-size: 16px;
}

.hero-section h1 span {
    color: #009970;
}

.hero-section p {
    font-weight: 500;
    margin-bottom: -3px;
}

.hero-section .row-central .titles {
    border-right: 1px solid #009970;
}

.hero-section .txt-decorative {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding-left: 6px;
    margin-top: 25px;
}

.hero-section .img-principal {
    margin-top: -80px;
    margin-left: 50px;
    width: 450px;
}

.hero-section .btn-reserva {
    text-decoration: none;
    color: white;
    background-color: #009970;
    border: none;
    width: 120px;
    margin-top: 60px;
    padding: 10px 12px 10px 12px;
    border-radius: 20px;
}

.hero-section .btn-reserva:hover {
    text-decoration: none;
    color: #009970;
    background-color: #fff;
    border: 1px solid #009970;
    transition: .2s ease-in-out;
    width: 120px;
    margin-top: 60px;
    padding: 10px 12px 10px 12px;
    border-radius: 20px;
}


/* Fim hero-section */

/* inicio cardapio */

.citacao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 0;
    height: 160px;
    background-color: #00997027;
}

.citacao .blockquote .highlight {
    color: #009970;
}

/* fim cardapio */

@media (max-width: 576px){
    .hero-section .img-principal {
        margin-top: 0;
        margin-left: 50px;
        width: 200px;
    }
}


@media (max-width: 768px) {
    .hero-section {
        margin-top: 50px;
    }
    .hero-section .row-central .titles {
        border-right: none;
        /* border-bottom: 1px dotted #009970; */
        padding-bottom: 20px;
    }
    .hero-section .row-central .titles, .div-imagem {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .hero-section .div-imagem {
        margin-top: 20px;
        margin-left: -15px;
    }
    
    .hero-section .img-principal {
        margin-top: 80px;
        margin-left: 50px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .hero-section .txt-decorative {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
    }
    .hero-section .btn-reserva {
        text-decoration: none;
        color: white;
        background-color: #009970;
        border: none;
        width: 120px;
        margin-top: 20px;
        padding: 10px 12px 10px 12px;
        border-radius: 20px;
    }
    
    .hero-section .btn-reserva:hover {
        text-decoration: none;
        color: #009970;
        background-color: #fff;
        border: 1px solid #009970;
        transition: .2s ease-in-out;
        width: 120px;
        margin-top: 20px;
        padding: 10px 12px 10px 12px;
        border-radius: 20px;
    }
    
}


@media (max-width: 991px) {
    .reserva-button {
        display: none;
    }
    .header .navbar-brand {
        font-weight: 600;
        padding-left: 0px;
    }
    .hero-section .img-principal {
        margin-top: 0px;
        margin-left: 50px;
        width: 350px;
    }
}
@media (min-width: 991px) {
    .reserva-button2 {
        display: none;
    }
    .nav-link:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}